{{ define "main" }}
<main class="homepage container py-6">
    <!-- Hero -->
    <div class="hero row">
        <div class="col position-relative py-lg-7{{ if not .Site.Params.errorImage }} py-7{{ else }} pb-5{{ end }}">
            {{- with .Site.Params.errorImage -}}
                <div class="homepage-image">
                    <img src="{{ . | relURL }}" class="img-fluid" style="border-radius:50%;margin-bottom:32px;">
                </div>
            {{- end -}}

            <h1 class="display-4 font-mono">404 Not Found</h1>
            <h6 class="font-weight-normal text-muted font-mono">FATAL ERROR: the monkey might have escaped!</h6>
        </div>
    </div>
</main>
{{ end }}
